body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

body, p {
  font-size: 1.3rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 2em;
}

ul, ol {
  font-size: 1.3rem;
}

/* hide unnecessary h1 at top of page */
h1#iron-router {
  display: none;
}

.container {
  max-width: 48rem;
  padding: 1rem;
  position: relative;
}

.logo {
  margin-top: 6rem;
}

.page-title {
  font-size: 2.5rem;
  font-weight: normal;
  color: #784717;
  margin: 1.5rem 0 3rem 0;
}

.downloads-container {
  padding-bottom: 1rem;
  border-bottom: 3px solid #eee;
  margin-bottom: 4rem;
}

.downloads {
  width: 210px;
  z-index: 10;
  bottom: -40px;
  right: 0;
  height: 70px;
  background: url('../images/icon_download.png') no-repeat 0% 90%;
}

.zip_download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom left;
}

.tar_download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom right;
  margin-left: 10px;
}

.zip_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top left;
}

.tar_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top right;
}

.forkme_banner {
  display: block;
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 10;
  padding: 10px 52px 10px 12px;
  color: #fff;
  background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
  font-weight: 400;
  font-size: .8em;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}