<!DOCTYPE html>
<html>
  <head>
    <title>Iron Router Guide</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300' rel='stylesheet' type='text/css'>
    <link href="stylesheets/basscss.min.css" rel="stylesheet">
    <link href="stylesheets/prism.css" rel="stylesheet" />
    <link href="stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <a class="forkme_banner" href="https://github.com/EventedMind/iron-router">View on GitHub</a>
      <h1 class="logo mx-auto mt5">
        <div class="sm-show center">
          <img src="images/iron-router-logo.png">
        </div>
        <div class="sm-hide center">
          <img src="images/iron-router-logo-mobile.png">
        </div>
      </h1>
      <h2 class="page-title center">Guide</h2>
      <div class="content">
        <div class="clearfix downloads-container">
          <div class="downloads right">
            <a class="zip_download_link" href="https://github.com/EventedMind/iron-router/zipball/master">Download this project as a .zip file</a>
            <a class="tar_download_link" href="https://github.com/EventedMind/iron-router/tarball/master">Download this project as a tar.gz file</a>
          </div>
        </div>
        <%=content%>
      </div>
    </div>
    <script src="javascripts/prism.js"></script>
  </body>
</html>
